.blue{
    color: rgb(95, 95, 255);
}
img{
    width: 100%;
    
}

.main{
    height: 297mm;
    width: 210mm;
    border: solid black;
}

.left{
    color: lightgrey;
    background-color: rgb(50, 178, 221);
    /* border: 2px solid black; */
    padding: 20px;
    float: left;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    font-size: larger;
}

.right{ 
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    background-color: lightgrey;
    padding: 20px;
    float: right;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
}

a:link{
    color: blue;   
}
a:visited{
    color: purple;
}

